.icon{
    margin-left: 100px;
}
.img{
    width: 200px;    
}

.terminal{
    width: 600px;
    height: 300px;
    background: black;
    float: left;
    margin-left: 600px ;
    
}

.main{
    width: 700px;
    height: 350px;
}